<html>
    <head>
        <title>Engineer's blog</title>
    </head>
    <body>
        <div>
            <h1><a href="">Amit's Blog</a></h1>
        </div>

        <div>
            <p>published: 1.03.2017, 9:47 am</p>
            <h2><a href="">My first post</a></h2>
            <p>First blog will be an introductory one </p>
        </div>

        <div>
            <p>published: 14.06.2014, 12:14</p>
            <h2><a href="">My second post</a></h2>
            <p>I will surely add some posts which will be similar to that of James Clear(self development)</p>
        </div>
    </body>
</html>
